/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.image-left
	{
		display: inline;
		width: auto;
	}
	
		.image img
		{
			width: auto;
		}

	.button
	{
		display: inline;
		padding: 1em 1.5em 1em 1.5em;
	}
	
		.button-huge
		{
			padding: 0;
		}

		.button-big
		{
			padding: 0;
		}

	ul.style3 a
	{
		padding-left: 0;
	}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		text-align: center;
	}
	
		#nav li
		{
			display: inline;
		}