/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.image
	{
	}

		.image img
		{
			width: auto;
		}
		
	ul.style4
	{
	}

		ul.style4 li
		{
			display: inline;
		}

	ul.contact
	{
		overflow: hidden;
	}
	
		ul.contact li
		{
			display: block;
			float: left;
		}
		
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}
	
		#nav ul
		{
		}
		
		#nav li
		{
			display: inline;
		}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/
	
	#main
	{
		padding: 3em;
	}
	
/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/
	
	#content
	{
		padding: 0 !important;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/
	
	#sidebar
	{
		padding: 0 !important;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		padding: 0 !important;
	}
	
	#copyright
	{
	}