/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#top-bar-wrapper
	{
		padding-bottom: 0;
		width: 100%;
	}
	
	#bottom-bar-wrapper
	{
		padding-bottom: 0;
	}