/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.button
	{
		background-image: url('images/button.svg');
	}

		.button-alt
		{
			background-image: url('images/button-alt.svg');
		}

		ul.style3 .date
		{
			background-image: url('images/ul-style3-date.svg');
		}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#banner-wrapper
	{
	}
	
		#banner-wrapper:before
		{
			background-image: url('images/banner-wrapper-before.svg');
		}
		
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	.dropotron
	{
		background-image: url('images/dropotron.svg');
	}