/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	*
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	body
	{
		background: #151515 url(images/bg01.png) repeat;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 10.5pt;
		font-weight: 400;
		color: #6c6c6c;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	{
		color: inherit;
		text-decoration: none;
	}

	form
	{
	}
	
		form input,
		form select,
		form textarea
		{
			-webkit-appearance: none;
		}
			
	br.clear
	{
		clear: both;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 2.5em;
	}
	
	p
	{
		line-height: 2em;
	}
	
	a
	{
		color: #239ad0;
		text-decoration: underline;
	}
	
		a:hover
		{
			text-decoration: none;
		}
	
	strong
	{
		font-weight: 600;
		color: #363636;
	}
	
	section,
	article
	{
		margin-bottom: 3em;
	}
	
	section > :last-child,
	article > :last-child
	{
		margin-bottom: 0;
	}

	section:last-child,
	article:last-child
	{
		margin-bottom: 0;
	}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
			border-radius: 8px;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 4em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}

	.button
	{
		position: relative;
		display: inline-block;
		overflow: hidden;
		background-color: #3aa2d6;
		background-image: -moz-linear-gradient(top, rgba(83,185,230,1), rgba(58,162,214,0));
		background-image: -webkit-linear-gradient(top, rgba(83,185,230,1), rgba(58,162,214,0));
		background-image: -o-linear-gradient(top, rgba(83,185,230,1), rgba(58,162,214,0));
		background-image: -ms-linear-gradient(top, rgba(83,185,230,1), rgba(58,162,214,0));
		background-image: linear-gradient(top, rgba(83,185,230,1), rgba(58,162,214,0));
		-moz-transition: background-color .2s ease-in-out;
		-webkit-transition: background-color .2s ease-in-out;
		-o-transition: background-color .2s ease-in-out;
		-ms-transition: background-color .2s ease-in-out;
		transition: background-color .2s ease-in-out;
		border: 0;
		outline: 0;
		cursor: pointer;
		border-radius: 6px;
		text-align: center;
		text-decoration: none;
		font-weight: 600;
		color: #FFFFFF !important;
	}
	
		.button:before
		{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('images/bg01.png');
			border-radius: 6px;
		}

		.button:hover
		{
			background-color: #4ab2e6;
		}
		
		.button:active
		{
			background-color: #2a92c6;
		}
	
		.button-alt
		{
			background-color: #393939;
			background-image: -moz-linear-gradient(top, rgba(83,83,83,1), rgba(57,57,57,0));
			background-image: -webkit-linear-gradient(top, rgba(83,83,83,1), rgba(57,57,57,0));
			background-image: -o-linear-gradient(top, rgba(83,83,83,1), rgba(57,57,57,0));
			background-image: -ms-linear-gradient(top, rgba(83,83,83,1), rgba(57,57,57,0));
			background-image: linear-gradient(top, rgba(83,83,83,1), rgba(57,57,57,0));
		}

			.button-alt:hover
			{
				background-color: #444444;
			}
			
			.button-alt:active
			{
				background-color: #353535;
			}

	.title h2
	{
		overflow: hidden;
		position: relative;
		font-weight: 600;
		color: #2a2a2a;
	}

		.title h2:after
		{
			content:" ";
			position: absolute;
			border-top: 1px solid;
			border-bottom: 1px solid;
			border-color: #e5e5e5;
		}

	ul.style1
	{
	}
	
		ul.style1 li
		{
			clear: both;
			padding: 1.20em 0em;
			border-top: 1px solid #2f2f2f;
		}
		
		ul.style1 .first
		{
			padding-top: 0em;
			border-top: none;
		}
		
	ul.style2
	{
	}
	
		ul.style2 li
		{
			float: left;
			width: 45px;
			margin-right: 8px;
			text-indent: -99999em;
		}
		
		ul.style2 a
		{
			display: block;
			text-decoration: none;
		}
		
	ul.style3
	{
		list-style: none;
		color: #6c6c6c
	}
	
		ul.style3 li
		{
			padding: 0px 0px 5px 0px;
			margin: 0 0 1em 0;
			overflow: hidden;
		}

		ul.style3 p
		{
			margin: 0;
		}
		
		ul.style3 h3
		{
			padding: 0.25em 0 0.25em 0;
			font-size: 1.2em;
			font-weight: 600;
			color: #239ad0;
		}
		
		ul.style3-alt h3
		{
			color: #FFFFFF;
		}

			ul.style3-alt h3 a
			{
				color: #FFFFFF !important;
			}

			ul.style3 h3 a:hover
			{
				text-decoration: underline;
			}

		ul.style3 .first
		{
			padding-top: 0px;
			background: none;
		}
		
		ul.style3 .date
		{
			float: left;
			position: relative;
			width: 60px;
			height: 60px;
			margin: 0em 1.5em 0em 0em;
			padding: 8px 0em 0em 0em;
			background: #4b4b4b;
			background-image: -moz-linear-gradient(top, rgba(70,70,70,1), rgba(50,50,50,2));
			background-image: -webkit-linear-gradient(top, rgba(70,70,70,1), rgba(50,50,50,2));
			background-image: -o-linear-gradient(top, rgba(70,70,70,1), rgba(50,50,50,2));
			background-image: -ms-linear-gradient(top, rgba(70,70,70,1), rgba(50,50,50,2));
			background-image: linear-gradient(top, rgba(70,70,70,1), rgba(50,50,50,2));
			border-radius: 6px;
			line-height: normal;
			text-align: center;
			font-size: 1.1em;
			font-weight: 400;
			color: #929292;
		}
		
			ul.style3 .date:after
			{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: url('images/bg01.png');
				border-radius: 6px;
			}
		
			ul.style3 .date b 
			{
				margin: 0;
				padding: 0;
				display: block;
				margin-top: -5px;
				font-size: 1.8em;
				font-weight: 400;
				color: #FFFFFF;
			}
			
			ul.style3 .date a
			{
				color: #929292;
			}
			
			ul.style3 .date a:hover
			{
				text-decoration: none;
			}
			
	ul.style4
	{
		text-align: center;
	}
	
		ul.style4 li
		{
			display: inline-block;
			text-align: center;
		}
	
	ul.style5
	{
	}

		ul.style5 li
		{
			clear: both;
			border-top: 1px solid #2f2f2f;
		}

		ul.style5 span
		{
			padding: 0.75em 0em;
			line-height: 1.75em;
		}

		ul.style5 .address
		{
			float: left;
			width: 100px;
			display: inline-block;
			font-weight: 600;
			color: #bababa;
		}

		ul.style5 .address-01
		{
			float: left;
			display: inline-block;
		}

		ul.style5 .mail
		{
			float: left;
			width: 100px;
			display: inline-block;
			font-weight: 600;
			color: #bababa;
		}

		ul.style5 .mail-01
		{
			display: inline-block;
		}

		ul.style5 .phone
		{
			float: left;
			width: 100px;
			display: inline-block;
			font-weight: 600;
			color: #bababa;
		}

		ul.style5 .phone-01
		{
			float: left;
			display: inline-block;
		}

		ul.style5 .first
		{
			border-top: none;
		}
		
	ul.contact
	{
	}
	
		ul.contact li
		{
			position: relative;
			display: inline-block;
			margin: 0 0.25em 0 0.25em;
			top: 0;
			-moz-transition: top .15s ease-in-out;
			-webkit-transition: top .15s ease-in-out;
			-o-transition: top .15s ease-in-out;
			-ms-transition: top .15s ease-in-out;
			transition: top .15s ease-in-out;
		}

			ul.contact li a
			{
				display: block;
				position: relative;
				background: #c1cac5 url('images/icons.png');
				width: 45px;
				height: 45px;
				text-indent: -9999em;
				border-radius: 6px;
				outline: 0;
				-moz-transition: background-color .2s ease-in-out;
				-webkit-transition: background-color .2s ease-in-out;
				-o-transition: background-color .2s ease-in-out;
				-ms-transition: background-color .2s ease-in-out;
				transition: background-color .2s ease-in-out;
			}
			
				ul.contact li a.contact01				
				{
					background-position: 0px 0px;
					background-color: #49a3cc;
				}
				
					ul.contact li:hover a.contact01
					{
						background-color: #3993bc;
					}
					
				ul.contact li a.contact02
				{
					background-position: -55px 0px;
					background-color: #5a5a5a;
				}
				
					ul.contact li:hover a.contact02
					{
						background-color: #555555;
					}
					
				ul.contact li a.contact03
				{
					background-position: -109px 0px;
					background-color: #848484;
				}
				
					ul.contact li:hover a.contact03
					{
						background-color: #797979;
					}
					
				ul.contact li a.contact04
				{
					background-position: -164px 0px;
					background-color: #408db0;
				}
				
					ul.contact li:hover a.contact04
					{
						background-color: #307da0;
					}
					
				ul.contact li a.contact05
				{
					background-position: -219px 0px;
					background-color: #3c3c3c;
				}
				
					ul.contact li:hover a.contact05
					{
						background-color: #383838;
					}
					
			ul.contact li:hover
			{
			}

			ul.contact li:active
			{
			}


	ol.style1
	{
	}
	
	.box
	{
		border-bottom: 1px solid #ececec;
	}

	.box-post
	{
		overflow: hidden;
	}
	
		.box-post header
		{
		}
	
		.box-post h2
		{
			font-weight: 600;
			color: #2a2a2a;
		}
		
		.box-post .posted
		{
			display: block;
		}
		
			.box-post .posted a
			{
				color: #6c6c6c;
			}
		
	.box-gallery
	{
		margin: 0 0 3em 0;
	}
	
		.box-gallery .image-full
		{
			margin: 0;
		}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		box-shadow: inset 0px -5px 10px 0px rgba(0,0,0,.2);
	}
	
	#banner-wrapper
	{
		overflow: hidden;
		position: relative;
		background: #424242 url(images/bg03.jpg) repeat;
	}
	
		#banner-wrapper:before
		{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('images/bg01.png');
			background-image: -moz-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.60));
			background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.60));
			background-image: -o-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.60));
			background-image: -ms-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.60));
			background-image: linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.60));
		}

	#top-bar-wrapper
	{
		overflow: hidden;
		box-shadow: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.05);
		background: #F7F7F7 url(images/bg02.png) repeat;
	}
	
	#main-wrapper
	{
		background: #FFFFFF;
		border-top: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
	}
	
	#bottom-bar-wrapper
	{
		overflow: hidden;
		box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
		background: #F7F7F7 url(images/bg02.png) repeat;
	}
	
	#footer-wrapper
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		overflow: hidden;
		position: relative;
		text-align: center;
		z-index: 10;
	}
	
		#banner h2
		{
			letter-spacing: -1px;
			font-weight: 600;
			color: #FFFFFF;
		}
		
		#banner p
		{
			color: #adadad;
		}
	
		#banner .button
		{
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		overflow: hidden;
	}

		#footer a
		{
			color: #929292;
		}

		#footer header
		{
		}
		
		#footer header h2
		{
			overflow: hidden;
			position: relative;
			font-weight: 600;
			color: #FFFFFF;
		}

			#footer header h2:after
			{
				content:" ";
				position: absolute;
				border-top: 1px solid;
				border-bottom: 1px solid;
				border-color: #2f2f2f;
			}
			
		#footer .image
		{
		}

/*********************************************************************************/
/* Searchbox                                                                     */
/*********************************************************************************/

	#searchbox
	{
		position: relative;
	}
	
		#searchbox .text
		{
			background: #e7e7e7 url(images/bg01.png) repeat;
			outline: none;
			border: 0;
			border-radius: 5px;
			border: 1px solid #d6d6d6;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 300;
			color: #6c6c6c;
		}
		
		#searchbox .submit
		{
			position: absolute;
			right: 0;
			top: 0;
			display: block;
			border: 0;
			background: url(images/icons.png) no-repeat;
			background-position: -280px 0;
			text-indent: -9999em;
		}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		text-align: center;
	}
	
		#featured header
		{
		}
		
		#featured header h2
		{
			font-weight: 600;
			color: #239ad0;
		}
		
		#featured .image
		{
		}

		.featured-heading
		{
			overflow: hidden;
			position: relative;
			letter-spacing: -1px;
			text-align: center;
			font-weight: 600;
			color: #2a2a2a;
		}
		
		.featured-heading:before
		{
			content: " ";
			position: absolute;
			border-top: 1px solid #e5e5e5;
			border-bottom: 1px solid #e5e5e5;
		}

		.featured-heading:after
		{
			content: " ";
			position: absolute;
			border-top: 1px solid #e5e5e5;
			border-bottom: 1px solid #e5e5e5;
		}


/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}
	
/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

	#sidebar header
	{
	}
	
	#sidebar header h2
	{
		overflow: hidden;
		position: relative;
		font-weight: 600;
		color: #2a2a2a;
	}

		#sidebar header h2:after
		{
			content:" ";
			position: absolute;
			border-top: 1px solid;
			border-bottom: 1px solid;
			border-color: #e5e5e5;
		}
		
	#sidebar section
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright 
	{
		text-align: center;
		color: #4f4f4f;
	}
	
		#copyright span
		{
			display: inline-block;
			background: rgba(255,255,255,.02);
			border-radius: 6px;
		}
